//Font variables
$primery-font: 'aleoregular', sans-serif;
$primery-bold-font: 'aleobold', sans-serif;
$primery-italic-font: 'aleoitalic', sans-serif;
$primery-bolditalic-font: 'aleobolditalic', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$icon-font: "FontAwesome";

$font-size:13px;
$font-size-higher:16px;
$font-size-lower:12px;



//Color pallet
$color-main: #4c4145;
$color-red: #fe505a;
$color-yellow: #ffd564;
$color-grey: #969b9f;
$color-grey-light: #dbdee1; 
$color-grey-lighter: #f5f5f5;
  
$color-null:#fff; 
